<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>main page</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/main/MainStyle.css">
</head>
<body>
    <div id="title">
        <h1>AI 월간 밀크 T</h1>
    </div>
    <div id="sub-title">
        <h2>문해력 쑥쑥 문제</h2>
    </div>
    <div id="intro">
        <h3>이제는 AI와 함께 공부하자!</h3>
        <p class="con">기사를 읽고 문제를 풀면 채점을 도와주는 AI 서비스가 최근 유행입니다.</p>
        <p class="con">내가 부족한 부분을 체크해서 맞춤 강의도 추천해주는 </p>
        <p class="con">AI 월간 밀크티 서비스 많이 사용해 보시기 바랍니다.</p>
        <p><input type="text" id="user_id" name="user_id"></p>
        <button id="startButton">시작하기</button>
    </div>
    <script src="/static/main/main.js"></script>
</body>
</html>