body {
    background-color: #A685D4;
    width: 100%;
    height: 1080px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
}

#header {
    background-color: #733CB3;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    position: relative;
}

#timer-div {
    width: 15%;
    height: 80px;
    padding-left: 3%;
    display: flex;
    align-items: center;
}

#timer {
    font-family: 'Font 1', sans-serif;
    color: #DFD0EF;
    font-size: 20px;
}

#question-title {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: absolute;
}

#question-title h1 {
    font-family: 'Font 2', sans-serif;
    color: #DFD0EF;
    font-size: 65px;
}

#submit-locate {
    display: flex;
    justify-content: flex-end;
    margin-top: 1%;
    padding-right: 3%;
}

#submit {
    background-color: #DFD0EF;
    font-family: 'Font 1', sans-serif;
    font-size: 17px;
    color: #000000;
    border: none;
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    justify-content: flex-end;
    cursor: pointer;
}

#submit:hover {
    background-color: #733CB3;
}

#progress-indicator {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 10px auto 2% auto;
    align-items: center;
    flex-direction: row;
}

.progress-box {
    width: 35px;
    height: 35px;
    margin: 10px;
    background-color: #f5f5f5;
    border: 2px solid #8636e0;
    border-radius: 10px;
}

.progress-box.active {
    background-color: #DFD0EF;
}

#content {
    width: 80%;
    height: 60%;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #ffffff;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#article {
    font-family: 'Font 1', sans-serif;
    display: flex;
    width: 50%;
    height: 90%;
    padding: 20px 65px;
    justify-content: flex-start; 
    align-items: flex-start;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none;
}

#article-date {
    font-family: 'Font 1', sans-serif;
    text-align: left;
    font-size: 15px;
}

#article-title {
    font-family: 'Font 1', sans-serif;
    text-align: center;
    font-size: 35px;
}

#article-author {
    font-family: 'Font 1', sans-serif;
    text-align: right;
    font-size: 15px;
}

#article p {
    font-family: 'Font 1', sans-serif;
    font-size: 19px;
    text-align: left;
}

#questions {
    font-family: 'Font 2', sans-serif;
    display: flex;
    width: 50%;
    height: 90%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.question-content {
    text-align: left;
    width: 80%;
    height: 70%;
    padding: 5%;
    flex: 1;
}

#question-que {
    width: 90%;
    height: 35%;
}

#question {
    font-family: 'Font 1', sans-serif;
    font-size: 28px;
}

#answer {
    width: 80%;
    height: 60%;
    font-family: 'Font 1', sans-serif;
    font-size: 23px;
    margin: 5%;
}

textarea {
    width: 100%;
    height: 80%;
    border: 1px solid #ccc;
    background-color: #ffffff;
    font-family: 'Font 1', sans-serif;
    font-size: 20px;
}

.nav-button {
    background-color: #DFD0EF;
    font-family: 'Font 3', sans-serif;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    margin: 4px 2px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.nav-button:hover {
    background-color: #A685D4;
}

#prev-button {
    left: 10px;
}

#next-button {
    right: 10px;
}

label {
    display: block;
    margin: 1% 0;
}

@font-face {
    font-family: 'Font 1';
    src: url('../fonts/Pretendard-Medium.woff') format('woff'),
         url('../fonts/Pretendard-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Font 2';
    src: url('../fonts/HU네모굴림170.woff') format('woff'),
         url('../fonts/HU네모굴림170.ttf') format('truetype');
}
@font-face {
    font-family: 'Font 3';
    src: url('../fonts/HU햇살160.woff') format('woff'),
         url('../fonts/HU햇살160.ttf') format('truetype');
}